<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- cf.) https://blogs.msdn.microsoft.com/africaapps/2013/06/07/how-to-serve-static-json-files-from-a-windows-azure-website/ -->
    <!-- cf.) https://stackoverflow.com/questions/45699982/how-to-expose-and-serve-woff-file-from-azure-without-web-config -->
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="json" mimeType="application/json" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
        </staticContent>

        <!-- cf.) https://www.mattburkedev.com/iis-rewrite-rule-for-single-page-apps/ -->
        <rewrite>
            <rules>
                <rule name="SPA Routes" stopProcessing="true">
                    <!-- match everything by default -->
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <!-- unless its a file -->
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <!-- or a directory -->
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <!-- or is under the /api directory -->
                        <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
                        <!-- list other routes or route prefixes here if you need to handle them server side -->
                    </conditions>
                    <!-- rewrite it to /index.html -->
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
